{% extends 'admin/base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Docker Config</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <span class="sr-only">Error:</span>
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            {% endfor %}
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" name='ansible_config'
                class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="deployer-url-input">
                        {{ form.deployer_url.label }}
                    </label>
                    {{ form.deployer_url(class="form-control", id="deployer-url-input", placeholder="https://deployer.unitedctf.ca/") }}
                </div>
                <div class="form-group">
                    <label for="deployer-secret-input">
                        {{ form.deployer_secret.label }}
                    </label>
                    {{ form.deployer_secret(class="form-control", id="deployer-secret-input", placeholder="Ex: mysecret") }}
                </div>
                {{ form.nonce() }}
                <div class="col-md-13 text-center">
                    <button type="submit" tabindex="0" class="btn btn-md btn-primary btn-outlined">
                        Submit
                    </button>
                </div>
        </div>
        <input type="hidden" name="id" value="1">
        </form>
    </div>
</div>
{% endblock content %}
