{% extends "admin/challenges/update.html" %}
{% block value %}
<!-- Original implementation for the value attribute of the challenge -->
<div class="form-group">
	<label for="value">
		Value<br>
		<small class="form-text text-muted">
			This is how many points teams will receive once they solve this challenge.
		</small>
	</label>
	<input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
</div>

<div class="form-group">
	<label>
		Playbook Name:<br>
		<small class="form-text text-muted">
			Specify the name of the playbook to use for this challenge.
		</small>
	</label>
	<input type="text" class="form-control" name="playbook_name" value="{{ challenge.playbook_name }}" placeholder="Enter playbook name" required>
</div>

<div class="form-group">
	<label>
		Deploy Parameters:<br>
		<small class="form-text text-muted">
			Optional parameters to pass during deployment (JSON format).
		</small>
	</label>
	<input type="text" class="form-control" name="deploy_parameters" value='{{ challenge.deploy_parameters }}' placeholder='{"image_name": "myimage"}'>
</div>
{% endblock %}
